<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <title>{% block title %}Photos App{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="container">
            <a href="{{ url_for('index') }}">Gallery</a>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-3">
                {% for category, message in messages %}
                    <div class="flash-message alert-{{ category or 'info' }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>