trigger:
- main # Trigger the pipeline on pushes to the 'main' branch

variables:
  # 1. Update with the service connection name you created in Azure DevOps
  azureServiceConnection: 'Azure-Flask-Conn' 
  # 2. Your App Service Name
  webAppName: 'python-flask-webapp-quicklabs' 
  # 3. Your Resource Group Name
  resourceGroupName: 'python-flask-webapp-rg'
  pythonVersion: '3.11'
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and Package
  jobs:
  - job: BuildJob
    pool:
      vmImage: $(vmImageName)
    steps:
    
    - task: UsePythonVersion@0
      displayName: 'Use Python $(pythonVersion)'
      inputs:
        versionSpec: '$(pythonVersion)'
        
    - script: |
        # Simple installation; the deployment task handles the virtual environment
        pip install --upgrade pip
        pip install -r requirements.txt
      displayName: 'Install Dependencies'
      
    - task: ArchiveFiles@2
      displayName: 'Archive Files for Deployment'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        # Crucial: archives the content of the repo root, excluding the root directory itself
        includeRootFolder: false 
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'

- stage: Deploy
  displayName: Deploy to Azure WebApp
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeploymentJob
    displayName: Deploy WebApp
    environment: 'Production'
    pool:
      vmImage: $(vmImageName)
    strategy:
      runOnce:
        deploy:
          steps:
          
          - task: DownloadPipelineArtifact@2
            displayName: 'Download Artifact'
            inputs:
              artifactName: 'drop'
              targetPath: '$(System.DefaultWorkingDirectory)'
              
          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App'
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              appName: '$(webAppName)'
              resourceGroupName: '$(resourceGroupName)'
              package: '$(System.DefaultWorkingDirectory)/$(Build.BuildId).zip'
              # CRITICAL: Startup command for Flask on Linux App Service
              startUpCommand: 'gunicorn --bind=0.0.0.0 --workers 2 photos:app'
